<% provide(:title, 'About Project') %>
<div class="container clear">


<div align="center" class="book center" >
	
	<embed src="<%= asset_path('ex.swf') %>", quality="high"  wmode=transparent  width="1024" height="768" align="middle"  allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	
	

 <% if @page %>
<% @page.sections.each do |section| %>
<% case section.content_type
       when 'HTML' %>
       <div class="description">
          <%= simple_format(section.content) %>
          </div>
    <% when 'text' %>
 <%= section.content %>
  <% end %>
 <% end %>
 <% end %>
<div class="line clear"><%= image_tag("tel.png", alt: "Imaginasion") %><p>570-48-98</p></div> 
</div>
</div><!-- container -->


