$grayMediumLight: #eaeaea;

$marine: #020027;
$blue: #02093D;
$brightblue: #03D7B1;
$white: #F0EFD6;
$black: #0C0C0C;

$pink: #FE4365; 
$rose: #FC9D9A;
$lightrose: #F9CDAD;
$gr: #C8C8A9;
$bl: #83AF9B;

$font-stack:    Helvetica, sans-serif;

a { text-decoration: none; padding: 1px 3px;outline: none;
         &:hover { text-decoration: none; background: none; color: $brightblue;}
         &:focus{text-decoration: none;outline: none;} 
}
/*.row div{border: 1px solid yellow;}*/
.clear { clear: both; }
.center { text-align: center; }
.navbar{
.name {
h4{color: $gr;}
  }
}

.shadow{
-moz-box-shadow: 5px 5px 5px -3px #333;
   -webkit-box-shadow: 5px 5px 5px -3px #333;
   box-shadow: 3px 3px 3px -2px #333;
   }
         
body {
  padding-top: 70px;
 background: asset-url('wall.png') 0px 30px;
  height: 100%; margin: 0 auto 0; 
  color: $marine;
}

/* header */
#flour{
float: left;position: absolute;
top: 25px;
left: 215px;
}

#name {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $lightrose;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
 
  &:hover {
    color: $white;
    text-decoration: none;
    background: none;
  }
}
.sheet  {
	margin: 10px auto 10px;
    text-decoration: none;
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
    font-size:1em;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:normal;
    line-height:1;
	height: 100%;
    position: relative;
    z-index: 10;
    border-radius: 10px 120px / 120px 10px ;
   -moz-box-shadow: 5px 5px 15px -3px #333;
   -webkit-box-shadow: 5px 5px 15px -3px #333;
    box-shadow: 5px 5px 15px -3px #333;

    background-color: white;
.afisha{  background: asset-url('disk.png')no-repeat bottom right;
min-height: 800px;}    
.view{  background: asset-url('chayka.png')no-repeat bottom;
min-height: 800px;}
.menu{  background: asset-url('tiram.png')no-repeat bottom;
min-height: 800px;
h3{float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: $pink;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 100px;
  line-height: 1;
}}      
&:after {
	content:"";
	position: absolute;
	z-index:-1;
    left: 0;
	top: 0;
	bottom: 0;
	right: 0;
    border-radius: 10px 120px / 120px 10px ;
    -moz-box-shadow: 5px 5px 15px -3px #333;
    -webkit-box-shadow: 5px 5px 15px -3px #333;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(11%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }
 } 
.logo{
 display: block;
 margin: 10px;
 float: left;
 width: 350px;
 height:329px;
 background: asset-url('lg.png') no-repeat;
}

.col1{padding:30px;}
.col2{border-left: 1px solid #ccc; margin-top: 50px;      }
.mode{
img {
padding: 20px;
border: 1.8px solid $marine;
	}
}
 .view img{
    margin: 30px;
    border-radius: 120px 10px / 20px 130px ;
    -moz-box-shadow: 5px 5px 5px -3px #333;
   -webkit-box-shadow: 5px 5px 5px -3px #333;
   box-shadow: 3px 3px 3px -2px #333;
   	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	
&:hover {
   border-radius: 10px 120px / 130px 10px ;
	-webkit-transform: scale(1.7);
	-moz-transform: scale(1.7);
	-ms-transform: scale(1.7);
	-o-transform: scale(1.7);
	transform: scale(1.7);
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	box-shadow: 3px 3px 5px #000;
	-webkit-backface-visibility: hidden;
}
}
#introduction{padding-top: 100px;
padding-left: 10px;
float:right;
margin:0;
}
#head{
float: left;
min-width: 350px;
 font-size: 1.7em;
 text-transform: uppercase;
  letter-spacing: -1px;
  
  font-weight: bold;
  line-height: 1;
 

 padding-right: 70px;

 background: asset-url('pict2.png')center right no-repeat;
  &:hover {
    color: $white;
    text-decoration: none;   
    }
    h1{ color: $brightblue;
    padding-left: 20px;
    
     }
 .small{font-size: 0.6em;
 text-transform: lovercase;
  letter-spacing: -1px;
   font-weight: normal;
  
  line-height: 1;color:$blue;padding-left: 20px;padding-right: 10px;margine-top: -10px;padding-bottom: 30px;} 
}

        /* Navigation */
#navigation{  
float: left; 
 ul {  font-size:.9em;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
	letter-spacing: .2em; list-style: none; margin: 0; padding: 0; 
         li { margin-bottom: 0.5em; }
         ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
                  }
          a { text-decoration: none; padding: 1px 3px;
         &:hover { background: none; }
          		}
			}



.line{
 text-align:  center;margin:20px;
}
.original{

 text-align:  center;
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:1.2em;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
	letter-spacing: .4em;
    padding: 20px; 
    background: $grayMediumLight;
    border-radius: 10px 10px / 10px 10px ;
    }

/* main output */
#main { min-height: 500px; margin-top: 10px; }
#content_page { width: 100%; padding: 20px;}
#content { float: left;}
        
/* picture output */
p, td, ul, ol, li, dl, dt, dd { list-style-type: none;
   }


.description {width: 100%; padding: 10px;}
.box{width:120px; height: 150px; float: left; padding:10px;
 li {  margin:auto;
  img {padding: 5px; max-height: 130px; max-width: 100px; border: 1px solid $blue;}
 	}	
}

#picture_show {
min-height: 500px;width:100%;
 padding-bottom: 50px;
.btn {margin-bottom: 20px;background: none;}
ul{padding:0; margin: 0;}
a { text-decoration: none;
img {padding: 2%; border: 1px solid $blue;}
 }
}
		
#footer { clear: both; text-align: center;
background: asset-url('pict1.png')bottom no-repeat; padding-bottom: 50px;
 p { margin: 0; padding: 0.5em 1em; }
	}	
	
			/* mixins, variables, etc. */